.buscar{
    display: fixed;
    align-items: center;
    text-align: center;
    margin: 1em;
}

.tabla{
    border-style: inset;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 0.5em;
}
