{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>Home</h1>

    <table border="1" class="table table-bordered">
        <caption>Tabla de Género</caption>
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>M</td>
            <td>Masculino</td>
          </tr>
          <tr>
            <td>F</td>
            <td>Femenino</td>
          </tr>
        </tbody>
    </table>

    <table border="1" class="table table-bordered">
        <caption>Tabla de Categorías</caption>
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>MEN</td>
            <td>Menores 6 años</td>
          </tr>
          <tr>
            <td>7-8</td>
            <td>7-8 años</td>
          </tr>
          <tr>
            <td>9NO</td>
            <td>9 años novatos</td>
          </tr>
          <tr>
            <td>9CL</td>
            <td>9 años clasificados</td>
          </tr>
          <tr>
            <td>10N</td>
            <td>10 años novatos</td>
          </tr>
          <tr>
            <td>10C</td>
            <td>10 años clasificados</td>
          </tr>
          <tr>
            <td>11N</td>
            <td>11 años novatos</td>
          </tr>
          <tr>
            <td>11C</td>
            <td>11 años clasificados</td>
          </tr>
          <tr>
            <td>12N</td>
            <td>12 años novatos</td>
          </tr>
          <tr>
            <td>12C</td>
            <td>12 años clasificados</td>
          </tr>
          <tr>
            <td>34N</td>
            <td>13-14 años novatos</td>
          </tr>
          <tr>
            <td>34C</td>
            <td>13-14 años clasificados</td>
          </tr>
          <tr>
            <td>57N</td>
            <td>15-17 años novatos</td>
          </tr>
          <tr>
            <td>57C</td>
            <td>15-17 años clasificados</td>
          </tr>
          <tr>
            <td>18N</td>
            <td>18 en adelante novatos</td>
          </tr>
          <tr>
            <td>18C</td>
            <td>18 en adelante clasificados</td>
          </tr>
        </tbody>
    </table>

    <table border="1" class="table table-bordered">
        <caption>Distancias</caption>
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>25M</td>
            <td>25 metros</td>
          </tr>
          <tr>
            <td>50M</td>
            <td>50 metros</td>
          </tr>
          <tr>
            <td>10M</td>
            <td>100 metros</td>
          </tr>
        </tbody>
      </table>

    <table border="1" class="table table-bordered">
        <caption>Pruebas por la Mañana</caption>
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>MAR</td>
            <td>Mariposa</td>
          </tr>
          <tr>
            <td>ESP</td>
            <td>Espalda</td>
          </tr>
          <tr>
            <td>COM</td>
            <td>Combinado</td>
          </tr>
        </tbody>
      </table>
      
    <table border="1" class="table table-bordered">
        <caption>Pruebas por la Tarde</caption>
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>LIB</td>
            <td>Libre</td>
          </tr>
          <tr>
            <td>PEC</td>
            <td>Pecho</td>
          </tr>
        </tbody>
      </table>
      
    <table border="1" class="table table-bordered">
        <caption>Pruebas Opcionales</caption>
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>REL</td>
            <td>Relevos</td>
          </tr>
          <tr>
            <td>SNO</td>
            <td>Snorkel</td>
          </tr>
        </tbody>
      </table>
    
</div>

{% endblock %}