{% extends "plantilla.html" %}
{% block title %} Jugadores {% endblock %}
{% block content %}

<link href="{{ url_for('static', path='global.css') }}" rel="stylesheet">

<div class="buscar">

  <h3>Filtrar por cedula o provincia</h3>

  <form action="/tabla_juego" method="GET">
    <select class="" name="idevento">
      {% for valor in lista %}
      <option value="{{ valor.idevento }}">Evento: {{ valor.idevento }} Categoria: {{ valor.categoria }} {{ valor.nombre }}</option>
      {% endfor %}
    </select>

    <input type="submit" class="btn btn-primary" value="Buscar 🔍">
    <a class="btn btn-primary" href="/tabla_juego">Todas las tablas🏠</a>
  </form>

<div class="container">
<div class="row">

<div class="tabla">
  <div class="col">
    <table class="table">
      <thead>
        <caption>Jugadores</caption>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombres</th>
          <th scope="col">Edad</th>
          <th scope="col">Cédula</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Tiempo</th>
          <th scope="col">Equipo</th>
          <th scope="col">Provincia</th>
        </tr>
      </thead>

      <tbody>
        {% for key in data %}
        <tr>
          <th scope="row">{{ key.idjugador }}</th>
          <td>{{ key.nombres }}</td>
          <td>{{ key.edad }}</td>
          <td>{{ key.cedula }}</td>
          <td>{{ key.fnacimiento}}</td>
          <td>{{ key.tiempo}}</td>
          <td>{{ key.nombre }}</td>
          <td>{{ key.pnombre }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

</div>
</div>

{% endblock %}
