{% extends "plantilla.html" %}
{% block title %} Tablas {% endblock %}
{% block content %}

<link href="{{ url_for('static', path='global.css') }}" rel="stylesheet">

<div class="buscar">
  <h3>Filtrar por Evento:</h3>
  <form action="/tabla_juego" method="GET">
    <select class="" name="idevento">
      {% for valor in lista %}
      <option value="{{ valor.idevento }}">Evento: {{ valor.idevento }} Categoria: {{ valor.categoria }} {{ valor.nombre }}</option>
      {% endfor %}
    </select>

    <input type="submit" class="btn btn-primary" value="Buscar 🔍">
    <a class="btn btn-primary" href="/tabla_juego">Todas las tablas🏠</a>
  </form>

</div>

<div class="container">
<div class="row">
{% for key in data %}

<div class="tabla">
  <div class="col">
    <table class="table">
      <thead>
        <caption>Evento: {{ key.idevento }} | {{ key.categoria }} | {{ key.nombre }}</caption>

        <tr>
          <th scope="col">Carril</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Equipo</th>
          <th scope="col">Provincia</th>
          <th scope="col">Tiempo</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">{{ key.idjugador }}</th>
          <td>{{ key.jnombres }}</td>
          <td>{{ key.edad }}</td>
          <td>{{ key.enombre }}</td>
          <td>{{ key.provincia }}</td>
          <td>{{ key.tiempo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endfor %}
</div>
</div>

{% endblock %}
