{% extends "plantilla.html" %}
{% block title %} Tablas {% endblock %}
{% block content %}

<link href="{{ url_for('static', path='global.css') }}" rel="stylesheet">

<div class="buscar">
  <h3>Filtrar por Evento</h3>
  <form action="/tabla_juego" method="GET">
    <select class="" name="idevento">
      {% for valor in lista %}
      <option value="{{ valor.idevento }}">Evento: {{ valor.idevento }} Categoria: {{ valor.categoria }} {{ valor.nombre }}</option>
      {% endfor %}
    </select>

    <input type="submit" class="btn btn-primary" value="Buscar 🔍">
    <a class="btn btn-primary" href="/tabla_juego">Todas las tablas🏠</a>
  </form>

</div>

<div class="container">
<div class="row">

{% for key, value in data.items() %}
<div class="tabla">
  <div class="col">
    <table class="table">

      <thead>

        {% for item in value %}
          <caption>Evento: {{ key }} | {{ item['categoria'] }} | {{ item['nombre'] }}</caption>
        {% endfor %}
        <tr>
          <th scope="col">Carril</th>
          <th scope="col">Nombre 🏊</th>
          <th scope="col">Edad</th>
          <th scope="col">Equipo 👥</th>
          <th scope="col">Provincia 📍</th>
          <th scope="col">Tiempo ⏳</th>
        </tr>
      </thead>

      <tbody>
        {% for item in value %}
        <tr>
          <th scope="row">{{ item['idjugador'] }}</th>
          <td>{{ item['jnombres'] }}</td>
          <td>{{ item['edad'] }}</td>
          <td>{{ item['enombre'] }}</td>
          <td>{{ item['provincia'] }}</td>
          <td>{{ item['tiempo'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}
</div>
</div>

{% endblock %}
