{% extends "plantilla.html" %}
{% block title %} Facturas {% endblock %}
{% block content %}

<div class="buscar">
  <form action="/tabla_juego" method="POST">

    <select class="form-select" name="select">
      {% for valor in lista_categorias %}
      <option value="{{ valor.idevento }}">Evento: {{ valor.idevento }} Categoria: {{ valor.categoria }} {{ valor.nombre }}</option>
      {% endfor %}
    </select>

    <input type="submit" class="btn btn-primary" value="Buscar">
    <input type="submit" class="btn btn-primary" name="all" value="all">

  </form>
</div>

<div class="container">
<div class="row">
{% for key in data %}

<div class="tabla">
  <div class="col">
    <h4>Evento: {{ key.idevento }} | {{ key.categoria }} | {{ key.nombre }}</h4>
    <p>Serie: {{ key.serie }}</p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Carril</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Equipo</th>
          <th scope="col">Tiempo</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">fix</th>
          <td>{{ key.jnombres }}</td>
          <td>{{ key.edad }}</td>
          <td>{{ key.enombre }}</td>
          <td>{{ key.tiempo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endfor %}
</div>
</div>

{% endblock %}
