{% extends 'base.html' %}

{% block title %} Crear {% endblock %}

{% block content %}

<div class="container mt-5">
<form method="post" class="form-group">
        {% csrf_token %}
        <!-- Renderiza los campos generados automáticamente por Django usando form.as_p -->
        {{ form.as_p }}
    
        <!-- Personaliza el campo de la escuela -->
        <div class="fieldWrapper">
            <label for="id_escuela">Escuela:</label>
            <select name="escuela" id="id_escuela">
                {% for choice in escuelas_choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </div>
    
        <input type="submit" value="Guardar" class="btn btn-primary">

</form>
</div>


{% endblock %}